.btn {
  background: $primary;
  border-radius: 5px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 4px solid #df0239;
  font-family: $base-font-family;
  font-size: $pr18;
  font-weight: 700;
  color: $text-color--light;
  padding: $spacer * 0.75  $spacer * 2;
  width: auto;
  cursor: pointer;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  outline: none;
  line-height: normal;

  @include media-breakpoint-up(md) {
    border: 0;
    margin: 0 auto;
    font-size: $pr30;
    padding: $spacer * 1.7;
  }

  &__arrow {
    margin-right: $spacer;
    background-image: url(../images/button-arrow.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
    display: flex;
    width: 17px;
    height: 20px;

    @include media-breakpoint-up(md) {
      width: 28px;
      height: 29px;
    }
  }

  &-action {
    text-decoration: none;
    display: inline-block;

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }
  }
}

.btn--default {
  background-color: $btn--default-bg;

  &:hover,
  &:focus,
  &:active {
    outline: none;
  }
}

.btn--wide {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

// Script styles
.wj-hide {
  overflow-x: hidden !important;
}

.wj-hide body {
  overflow: hidden !important;
}
