// Some basic padding for all wrappers
body {
  font-family: $primary-font-family;
  font-size: $base-font-size;
  box-sizing: border-box;
  text-align: center;
  background-color: $body-color;
}

.section {
  overflow: hidden;
  position: relative;
  padding-top: $spacer * 1.3;
  padding-bottom: $spacer * 2;

  @include media-breakpoint-up(md) {
    padding-bottom: $spacer * 3;
  }
}
