.twocols {
  text-align: left;
  font-family: $base-font-family;
  font-size: $pr16;
  font-weight: 700;

  @include media-breakpoint-up(md) {
    font-size: $pr18;
  }

  p:last-child {
    margin-bottom: 0;
  }

  &__title {
    font-size: $pr32;
    font-family: $primary-font-family;
    text-align: center;
    margin: 0;
    font-weight: 900;
    text-transform: uppercase;
    //
    margin-bottom: $spacer * 1.5;

    @include media-breakpoint-up(md) {
      font-size: $pr48;
    }
  }

  &__subtitle {
    font-family: $primary-font-family;
    font-size: $pr20;
    margin-top: 0;
    text-transform: uppercase;
    //
    text-align: center;
    font-weight: 700;

    @include media-breakpoint-up(md) {
      font-size: $pr25;
    }
  }
}
