$section-title-color: #5b5e61;

.consultiing-lessons {
  &__title {
    color: $section-title-color;
    font-size: $pr18;
    font-weight: 400;
    font-family: $primary-font-family;
    margin-top: 0;
    margin-bottom: $spacer;

    @include media-breakpoint-up(md) {
      font-size: $pr23;
      margin-bottom: $spacer * 2;
    }
  }

  @include media-breakpoint-up(md) {
    padding-bottom: $spacer * 4;
  }
}
