.free-guide {
  //
  &__title {
    font-size: $pr36;

    @include media-breakpoint-up(md) {
      font-size: $pr50;
      margin-bottom: $spacer * 2;
    }
  }

  &__p {
    color: #676767;
    font-family: $base-font-family;
    font-size: $pr16;

    @include media-breakpoint-up(md) {
      font-size: $pr20;
    }
  }
}
