.hero {
  font-family: $primary-font-family;
  font-size: $p16;
  padding: $spacer * 1.5  0;
  line-height: 1.3;

  @include media-breakpoint-up(md) {
    font-size: $pr23;
    padding: $spacer * 2  0;
  }

  &__title {
    font-size: $pr32;
    font-family: $primary-font-family;
    text-align: center;
    margin: 0;
    font-weight: 900;
    text-transform: uppercase;

    @include media-breakpoint-up(md) {
      font-size: $pr48;
    }
  }

  &__subtitle {
    font-family: $primary-font-family;
    font-size: $pr20;
    font-weight: 400;
    margin-top: 0;
    text-transform: uppercase;

    @include media-breakpoint-up(md) {
      font-size: $pr25;
    }
  }

  &__image {
    margin: $spacer  0;

    @include media-breakpoint-up(md) {
      margin: $spacer / 2  0  $spacer * 2.5;
    }
  }
}
