.cta-footer {
  padding-top: 0;

  @include media-breakpoint-up(md) {
    padding-top: 0;
  }

  .btn {
    margin-bottom: $spacer;
    font-size: $pr20;
    max-width: 545px;

    @include media-breakpoint-up(md) {
      font-size: $pr20;
      max-width: none;
    }

    &__arrow {
      width: 17px;
      height: 20px;
      margin-bottom: $spacer / 2;
      transform: rotateZ(90deg);

      @include media-breakpoint-up(md) {
        margin-bottom: 0;
        transform: none;
      }
    }
  }
}
