$checklist-color: #676767;

.checklist {
  font-size: $pr16;
  font-family: $base-font-family;
  color: $checklist-color;

  &__title {
    color: $dark;
    font-size: $pr32;
    margin-bottom: $spacer * 1.5;

    @include media-breakpoint-up(md) {
      font-size: $pr40;
    }
  }

  @include media-breakpoint-up(md) {
    font-size: $pr20;
    padding-bottom: $spacer;
  }
}
