// Mixin for min-width media query if we don't use Bootstrap
@mixin media-breakpoint-up($grid-breakpoints) {

  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $grid-breakpoints) {

    // Get the breakpoint value.
    $breakpoint-value: map-get($breakpoints, $grid-breakpoints);

    // Write the media query.
    @media (min-width: $breakpoint-value) {
      @content;
    }
  }

  @else {

    // Log a warning.
    @warn 'Invalid breakpoint: #{$grid-breakpoints}.';
  }
}

// Mixin for max-width media query if we don't use Bootstrap
@mixin media-breakpoint-down($grid-breakpoints) {

  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $grid-breakpoints) {

    // Get the breakpoint value.
    $breakpoint-value: map-get($breakpoints, $grid-breakpoints);

    // Write the media query.
    @media (max-width: $grid-breakpoints) {
      @content;
    }
  }

  @else {

    // Log a warning.
    @warn 'Invalid breakpoint: #{$grid-breakpoints}.';
  }
}

// Mixin for handling rows with percentage values
@mixin create-narrow-row($percentage) {
  &--narrow-#{$percentage} {
    @include media-breakpoint-up(md) {
      width: $percentage + 0%;
      margin: 0 auto;
    }
  }
}

// Mixins for handling margin helpers/utilities
@mixin create-margin-top($num) {
  &-#{$num} {
    margin-top: $spacer * $num;
  }
}

@mixin create-margin-bottom($num) {
  &-#{$num} {
    margin-bottom: $spacer * $num;
  }
}

@mixin parallax($image) {
  background-image: url('../images/#{$image}');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@mixin hide-on-mobile($screen) {
  display: none !important;

  @include media-breakpoint-up($screen) {
    display: block !important;
  }
}

@mixin hide-on-desktop($screen) {
  display: block !important;

  @include media-breakpoint-up($screen) {
    display: none !important;
  }
}
